---
import Hero from "../layouts/home/Hero.astro";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../layouts/Footer.astro";
import Services from "../layouts/home/Services.astro";
import Steps from "../layouts/home/Steps.astro";
import Stats from "../layouts/home/Stats.astro";
import Turnitin from "../layouts/home/Turnitin.astro";
import "../styles/global.css";
import UniversitiesCarousel from "../layouts/home/UniversitiesCarousel.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://kit.fontawesome.com/e1238f483a.js"
      crossorigin="anonymous"></script>
    <title>Delta Tesis</title>
  </head>
  <body>
    <Navbar />
    <Hero />
    <Services />
    <Stats />
    <Steps />
    <Turnitin />
    <UniversitiesCarousel/>
    <Footer />
  </body>
</html>
