---
import Hero from "../layouts/Home/Hero.astro";
import Navbar from "../layouts/Navbar.astro";
import Footer from "../layouts/Footer.astro";
import Services from "../layouts/Home/Services.astro";
import Steps from "../layouts/Home/Steps.astro";
import Stats from "../layouts/Home/Stats.astro";
import Turnitin from "../layouts/Home/Turnitin.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/e1238f483a.js" crossorigin="anonymous"></script>
		<title>Astro</title>
	</head>
	<body>
		<Navbar/>
		<Hero/>
		<Services/>
		<Stats/>
		<Steps/>
		<Turnitin/>
		<Footer/>
	</body>
</html>
